.abtus-head{
    display:inline-block;
    width: auto;
}
body{
height:auto !important;
}

.headerline{
    background-color: #9c3;
    height: 5px;
    border-radius: 2px;
    width: 80%;
    margin-bottom: 10px;
}

.abtus-content > p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}